@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  scroll-behavior: smooth;
}
.slide-down {
  animation: slide-down 500ms ease-in forwards;
}
.navlinkOne {
  animation: slide-down 500ms ease-in forwards;
  animation-delay: 100ms;
}

.navlinkTwo {
  animation: slide-down 500ms ease-in forwards;
  animation-delay: 200ms;
}

.navlinkThree {
  animation: slide-down 500ms ease-in forwards;
  animation-delay: 300ms;
}

body {
  background: #1f1f1f;
  color: #fafafa;
  /* font-family: var(--font-poppins); */
}

.text-wrap-balanced {
  text-wrap: balanced;
}

.navlink-hover::after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: width 0.4s;
}

.navlink-hover:hover::after {
  width: 100%;
}

.htmltag {
  font-family: var(--font-roboto-mono);
}
